@model IEnumerable<ControlPanel.Models.Payments>

@if ((bool)TempData.ContainsKey("ActionError"))
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>@TempData["ActionError"]</strong>
    </div>
}
else if ((bool)TempData.ContainsKey("ActionSuccess"))
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>@TempData["ActionSuccess"]</strong>
    </div>
}

<h3>Customer's @ViewData["Name"] Payments Details</h3>
@if ((bool)ViewData.ContainsKey("Website")) {
    <h4>
        You can also check  <a href="http://@ViewData["Website"]" target="_blank">
                                @ViewData["Website"]
                            </a>
    </h4>
}

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Payment Type</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _custPayment in Model)
                {
                    <tr>
                        <td>@_custPayment.Type.Decrypt()</td>
                        <td>@_custPayment.Date.Decrypt()</td>
                        <td>@_custPayment.Amount &euro;</td>
                        <td>
                            <a class="btn btn-primary" role="button" title="Edit Customer's Details"
                                    asp-action="Edit"
                                    asp-route-id="@_custPayment.CustomerId"
                                    asp-route-LineNo="@_custPayment.LineNo">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" />
                            </a>

                            <a class="btn btn-danger" role="button" title="Remove Customer's Details"
                                    asp-action="Delete"
                                    asp-route-id="@_custPayment.CustomerId"
                                    asp-route-LineNo="@_custPayment.LineNo">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a class="btn btn-primary" role="button" title="Add Customer's Details"
        asp-action="Add" asp-controller="Payments" asp-route-id="@ViewData["CustId"]">
    Add Payment
</a>

<a class="btn btn-primary" role="button" asp-action="Customers" asp-controller="Home">
    All Customers
</a>