@model VPCustInfo.Models.CustomersDetails

@{
    ViewData["Title"] = "Edit Customer's Details";
}


<form asp-action="Edit" method="POST" role="form">
    <legend>Edit Customer's  @ViewData["Name"]  Details</legend>

    <div class="form-group">
        <label>SQL User Name</label>
        <input type="text" class="form-control" name="_sqlUser" value="@Model.SqlUser.Decrypt()">
    </div>

    <div class="form-group">
        <label>SQL Password</label>
        <input type="text" class="form-control" name="_sqlPass" value="@Model.SqlPass.Decrypt()">
    </div>

    <div class="form-group">
        <label>Wordpress User Name</label>
        <input type="text" class="form-control" name="_wpUser" value="@Model.WpUser.Decrypt()">
    </div>

    <div class="form-group">
        <label>Wordpress Password</label>
        <input type="text" class="form-control" name="_wpPass" value="@Model.WpPass.Decrypt()">
    </div>

    <input type="hidden" name="_id" value="@Model.id">
    <input type="hidden" name="_custId" value="@Model.CustomerId">

    <button type="submit" class="btn btn-primary">Submit</button>

    <a asp-action="Customer" asp-controller="CustomerDetails" asp-route-id="@Model.CustomerId">
        <button type="button" class="btn btn-primary">To Details</button>
    </a>
</form>
